:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;

  --image-width: 164px;
  --image-height: 180px;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

/* Exercise 01 Elements */

#main-heading-01 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.parent-div-01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

#section-01 {
  margin: auto;
}

.card-figure-01 {
  padding: 0.5rem;
  margin: 0.3rem;
}

.card-figure-01:hover {
  background-color: var(--blue);
  color: var(--white);
}

.display-picture-01 {
  width: var(--image-width);
  height: var(--image-height);
}

.full-name-01 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 1rem;
  width: var(--image-width);
  text-align: center;
}

.title-01 {
  font-size: 1rem;
  font-weight: 800;
  width: var(--image-width);
  text-align: center;
}

/* Exercise 02 Elements */

.main-02 {
  background-color: var(--white);
  margin: 5rem;
}

.chart-container-02 {
  margin-top: 1.2rem;
  padding-bottom: 1.5rem;
}
